[submodule "vim-plug"]
	path = autoload
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule "nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule "vim-indent-guides"]
	path = plugged/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	branch = master
[submodule "nerdtree-tabs"]
	path = plugged/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	branch = master
[submodule "pangu"]
	path = plugged/pangu.vim
	url = https://github.com/hotoo/pangu.vim.git
	branch = master
[submodule "plugged/emmet-vim"]
	path = plugged/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	branch = master
